@charset "UTF-8";
section.memo.list {
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    width: 50%;

    input {
      padding: 10px;
      margin: 10px;
      border: 1px solid #ddd;
      border-radius: 10px;
    }
    button {
      background-color: #63b2e7;
      border: none;
      border-radius: 15px;
      padding: 10px;
      color: white;
      cursor: pointer;
    }
  }
  div {
    padding: 20px;
    margin: 10px auto;

    p {
      padding: 10px;
      text-align: center;
      border-bottom: 1px solid #ddd;
    }
  }
}
